$deep-grey: #282c34;
$white-text: rgba(255,255,255, .89);
$font-family: 'Simplifica';
$font-size-normal: 35pt;
$mainblue: #1C313F;
$melonaccent: #EF6362;
$contactformgrey: #6C6F76

body {
  background-color: $deep-grey;
  color: $white-text;
}
